<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Runnerz</string>
	<key>CFBundleExecutable</key>
	<string>Runnerz</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>RunnerzIcon</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.runnerz.watch</string>
	<key>CFBundleName</key>
	<string>Runnerz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connect to your treadmill and read workout data.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Read heart rate during your treadmill workout.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Save treadmill workouts to Apple Health.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
